*{
  margin: 0;
  font-family: 'Poppins', sans-serif;

}
.container{
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
  padding: 2rem;
}
.name{
  color: rgb(24, 24, 24);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;

}
.job-name{
  color: rgb(61, 69, 112);
  font-weight: 400;
  text-transform: uppercase;
}

.article_class{
  padding:2rem;
  max-width:400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px 1px #888888;
  border-radius: 10px;

}

.description{
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}
.image-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgb(52, 152, 177);
  padding: 5px;
}


.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
  /* padding: 10px; */
  /* margin: 5px; */
}
.arrow{
  width: 30px;
}
.arrow-right{
  width: 100%;
}
.arrow-left{
  width: 100%;
  transform: rotate(180deg);
}
button{
  width: 50px;
  background: transparent;
  border: none;
  
}
.name--job{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem ;
  padding-bottom: 0.6rem;
}