body {
  margin: 0;

}
.image-container{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.person-img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}